/* ==========================================================================
Header:
========================================================================== */
header h1 {
  color: #FCFFF5;
  background: #A69E9D;
}
/* ==========================================================================
Grid:
========================================================================== */
