/* ==========================================================================
   Header
   ========================================================================== */
   header {
     background: #A9CF54;
   }
   header h1 {
     color: #FCFFF5;
   }
/* ==========================================================================
   Homepage-Nav:
   ========================================================================== */
@import url("../img/recipes.jpg");
@import url("../img/chefs.jpg");
.homepage {
  display: flex;
  justify-content: space-around;
  width: 99%;
  padding-bottom: 1%;
}
h2 {
  background: #A9CF54;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  white-space: nowrap;
}
.pics {
  width: 31.33%;
}
a h2 {
  color: #FCFFF5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 1px;
  font-size: 29px;
  text-wrap: none;
}
.nav-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 66vh;
  justify-content: space-around;
  background-position: center top;
  position: relative;
}
#recipes {
  background-image: url("../img/recipes.jpg");
  background-position: center;
}
#chefs {
  background-image: url("../img/chefs.jpg");
  background-position: 50% 60%;
}
#signup {
  background-image: url("../img/signup.jpg");
  background-position: 25% 50%;
}
div p {
  color: #FCFFF5;
  position: relative;
  bottom: 1%;
  z-index: 1;
}
.credit {
  font-size: 19px;
  font-weight: 400;
  background: rgba(0, 0, 0, .5);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  transition: 0.4s linear;
  position: absolute;
  bottom: 0;
  width: 100%;

}
.dropdown {
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
}
img {
  max-width: 100%;
  repeat: no-repeat;
}
/* ==========================================================================
   Media Queries:
   ========================================================================== */
@media screen and (max-width: 962px) {
  header h1 {
    padding-left: 25%;
    padding-right: 25%;
  }
  .homepage {
    flex-direction: column;
  }
  .pics {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 66vh;
    width: 60%;
  }
@media screen and (max-width: 430px) {
  header h1 {
    font-size: 45px;
  }
}
