/* ==========================================================================
   Homepage-Nav:
   ========================================================================== */
@import url("../img/recipes.jpg");
@import url("../img/chefs.jpg");
.homepage {
  display: flex;
  justify-content: space-around;
  width: 99%;
  padding-bottom: 1%;
}
h2 {
  background: #A9CF54;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pics {
  width: 31.33%;
}
a h2 {
  color: #2A2C2B;
}
.nav-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 126.25%;
  justify-content: space-around;
  background-position: center top;
}
#recipes {
  background-image: url("../img/recipes.jpg");
}
#chefs {
  background-image: url("../img/chefs.jpg");
}
#signup {
  background-image: url("../img/signup.jpg");
  background-position: -180px 0px;
}
div p {
  background: rgba(0, 0, 0, .5);
  color: #FCFFF5;
  position: relative;
  bottom: 1%;
  z-index: 1;
}
.dropdown {
  font-size: 24px;
  font-weight: 400;
}
.photo-credit {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
img {
  max-width: 100%;
  repeat: no-repeat;
}
