/* ==========================================================================
   Header
   ========================================================================== */
   header h1 {
     color: #FCFFF5;
     background: #A9CF54;
   }
/* ==========================================================================
   Homepage-Nav:
   ========================================================================== */
@import url("../img/recipes.jpg");
@import url("../img/chefs.jpg");
.homepage {
  display: flex;
  justify-content: space-around;
  width: 99%;
  padding-bottom: 1%;
}
h2 {
  background: #A9CF54;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pics {
  width: 31.33%;
}
a h2 {
  color: #FCFFF5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 1px;
  font-size: 29px;
}
.nav-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 126.25%;
  justify-content: space-around;
  background-position: center top;
}
#recipes {
  background-image: url("../img/recipes.jpg");
  background-position: center;
}
#chefs {
  background-image: url("../img/chefs.jpg");
  background-position: 50% 60%;
}
#signup {
  background-image: url("../img/signup.jpg");
  background-position: 25% 50%;
}
div p {

  color: #FCFFF5;
  position: relative;
  bottom: 1%;
  z-index: 1;
}
.dropdown {
  font-size: 24px;
  font-weight: 400;
  background: rgba(0, 0, 0, .5);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
}
.photo-credit {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(0, 0, 0, .5);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .75));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .75));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .75));
}
img {
  max-width: 100%;
  repeat: no-repeat;
}
/* ==========================================================================
   Media Queries:
   ========================================================================== */
@media screen and (max-width: 790px) {
  h1 {
    padding-left: 25%;
    padding-right: 25%;
  }
  .homepage {
    flex-direction: column;
  }
  .nav-item {
    padding-top: 125.25%;
  }
  .pics {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
