/* ==========================================================================
Form:
============================================================================= */
h1 {
  padding-top: 21px;
  margin-top: 0;
}
label {
	border-bottom: 2px solid black;
}
input, textarea{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
select {
  margin-top: 10px;
}
#name, #birthday {
  display: flex;
  justify-content: space-between;
}
#birthday {
  margin-top: 10px;
}
.name, .birthday {
  display: flex ;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
.name {
  width: 48%;
}
.birthday {
  width: 31%;
}
.name input {
  width: 100%;
}
form {
  width: 66%;
  margin-bottom: 30px;
}
textarea {
  height: 50vh;
}
button {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 26px;
  color: white;
  background: #A9CF54;
  border: 3px solid #A69E9D;
  transition: all 0.15s linear;
}
button:hover {
  color: white;
  background: #588F27;
  border: 3px solid #7E827A;
}
/* ==========================================================================
Alerts:
============================================================================= */
.alert {
  color: red;
}
/* ==========================================================================
Modal Window:
============================================================================= */
.modal-window {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 60vh;
  top: 15vh;
  left: 18%;
  z-index: 3;
  border: 5px solid #588F27;
  background: #A9CF54;
  color: white;
  letter-spacing: 2px;
  width: 66%;
  border-radius: 10px;
}
.modal-content {
  width: 70%;
}
.modal-window h2 {
  font-size: 30px;
}
.modal-window p {
  margin: 15px 0;
}
#confirmation-code {
  width: 50%;
  padding: 20px 10px;
  color: black;
  font-size: 20px;
}
.modal-button {
  width: 50%;
  background: turquoise;
}
.modal-button:hover {
  background: #175167;
  border: 2px solid black;
}
.modal-x {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
}
.modal-x div {
  background: white;
  height: 3px;
}
.bar1 {
  transform: rotate(45deg);
}
.bar2 {
  transform: rotate(-45deg) translateY(-2px) translateX(1px);
}
/* ==========================================================================
Media Queries:
============================================================================= */
@media screen and (max-width: 730px) {
  #birthday {
	  flex-direction: column;
  }
  .birthday {
	  width: 100%;
  }
}
@media screen and (max-height: 400px) {
  #modal-window {
    height: 80vh;
  }
}
@media screen and (max-height: 300px) {
  #modal-window  h2 {
    font-size: 20px;
  }
  #modal-window p {
    font-size: 14px;
  }
  #confirmation-code {
    padding: 10px 5px;
    font-size: 18px;
  }
}
