/* ==========================================================================
Form:
============================================================================= */
h1 {
  padding-top: 21px;
  margin-top: 0;
}
input, textarea{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
select {
  margin-top: 10px;
}
#name, #birthday {
  display: flex;
  justify-content: space-between;
}
#birthday {
  margin-top: 10px;
}
.name, .birthday {
  display: flex ;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
.name {
  width: 48%;
}
.birthday {
  width: 31%;
}
.name input {
  width: 100%;
}
form {
  width: 66%;
  margin-bottom: 30px;
}
textarea {
  height: 50vh;
}
button {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 26px;
  color: white;
  background: #A9CF54;
  border: 3px solid #A69E9D;
  transition: all 0.15s linear;
}
button:hover {
  color: white;
  background: #588F27;
  border: 3px solid #7E827A;
}
/* ==========================================================================
Alerts:
============================================================================= */
.alert {
  color: red;
}
